# Ch17_Databases
+ On relational databases
+ We'll learn key concepts behind relational databases and how to perform a few common operations.

### This chapter has two tables in a database 'population.db':
1. **PopByRegion: Region and Population (region population)**
2. **PopByCountry: Region, Country, and Population (country population)**

### We use the file Ch17_Databases_label changed.ipynb before table joins. After that, we use Ch17_Databases.ipynb.

## [sqlite3](https://docs.python.org/3/library/sqlite3.html)

### [SQL語法](https://www.1keydata.com/tw/sql/sql-syntax.html)

## Overview, p. 343
+ A relational database is a collection of tables which consist of columns and rows, or records.
+ As of Python 3.3.0, the **standard library** includes a **module** called **sqlite3** for working with it.
+ We interact with the database in one of two ways:
    1. By typing commands into a database GUI
    2. By **writing programs in Python (or some other language)** to create tables, insert records, and fetch the data you want. Your code can then format the results in a web page, calculate statistics, or do whatever else you like.
+ We use **SQL, Structured Query Language**, to put data into a database or to get information out.  SQL is pronounced either as the three letters “S-Q-L” or as the word “sequel.”

### [Python vs SQL – What’s the Difference?](https://learn.onemonth.com/python-vs-sql-whats-the-difference/)

###### Types of SQL

1. **MySQL** (pronounced MY Sequel) is the most popular type of SQL database. The super-geek way to refer to this type of SQL database as a relational database management system (or RDBMS). More or less, that means it’s a database with many tables that link together in some way. All WordPress installations by default are using MySQL.


2. **PostgreSQL** (often just referred to as “Postgres”) is similar to MySQL but is known to be more durable. However, setting up Postgres for newbies can often be difficult, so if you are new to this, MySQL is probably you’re best bet.


3. **SQLite** (pronounced Sequel Lite) is a very portable, and compact database. SQLite is usually best used for testing and very, very simple applications. As of **Python 3.3.0**, the standard library includes **sqlite3** module.

### Creating and Populating, p. 344

In [2]:
import os
os.chdir(r'E:\Python\Databases\sqlite3')

In [3]:
# creating database population.db
import sqlite3
# Like a path to a file, sqlite3.connect() method opens a connection to 
# the SQLite database file 'population.db' on disk. Since the database 
# population.db doesn’t exist, it will be created:
con = sqlite3.connect('population.db') # Like the path to a file on disk

In [4]:
# Get a cursor. Like the cursor in an editor, this keeps track of where we are 
# in the database so that if several programs are accessing the database at the 
# same time, the database can keep track of who is trying to do what:
cur = con.cursor()
cur

In [4]:
help(sqlite3.connect)

Help on built-in function connect in module _sqlite3:

connect(...)
    connect(database[, timeout, detect_types, isolation_level,
            check_same_thread, factory, cached_statements, uri])

    Opens a connection to the SQLite database file *database*. You can use
    ":memory:" to open a database connection to a database that resides in
    RAM instead of on disk.

In [5]:
print(dir(con))

['DataError', 'DatabaseError', 'Error', 'IntegrityError', 'InterfaceError', 'InternalError', 'NotSupportedError', 'OperationalError', 'ProgrammingError', 'Warning', '__call__', '__class__', '__delattr__', '__dir__', '__doc__', '__enter__', '__eq__', '__exit__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'backup', 'close', 'commit', 'create_aggregate', 'create_collation', 'create_function', 'cursor', 'enable_load_extension', 'execute', 'executemany', 'executescript', 'in_transaction', 'interrupt', 'isolation_level', 'iterdump', 'load_extension', 'rollback', 'row_factory', 'set_authorizer', 'set_progress_handler', 'set_trace_callback', 'text_factory', 'total_changes']

In [6]:
print(dir(cur))

['__class__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__lt__', '__ne__', '__new__', '__next__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'arraysize', 'close', 'connection', 'description', 'execute', 'executemany', 'executescript', 'fetchall', 'fetchmany', 'fetchone', 'lastrowid', 'row_factory', 'rowcount', 'setinputsizes', 'setoutputsize']

In [7]:
type(cur)

sqlite3.Cursor

#### 1. Creating a database table to store the population data, p. 346
+ **CREATE TABLE «TableName»(«ColumnName» «Type», ...)**

Table 31—SQLite Data Types

The most commonly used data types in SQLite databases are listed in Table 31 along with the corresponding Python data types.

Type      Python Equivalent   Use 
NULL      NoneType            Means “know nothing about it” 
INTEGER   int                 Integers
REAL      float               8-byte floating-point numbers 
TEXT      str                 Strings of characters
BLOB      bytes               Binary data

The most commonly used **data types** in SQLite databases are **listed in Table 31 along with the corresponding Python data types**. The **BLOB type** stands for **Binary Large Object**, which to a database means **a image, an MP3, or any other lump of bytes** that isn’t of a more specific type. The **Python equivalent** is a type **called bytes**, which also stores a sequence of bytes that have no particular predefined meaning.

To **create a two-column table named PopByRegion** to store region names as strings in the Region column and projected populations as integers in the Population column, we **use this SQL statement:**

**CREATE TABLE PopByRegion(Region TEXT, Population INTEGER)**

In [8]:
help(cur.execute)

Help on built-in function execute:

execute(...) method of sqlite3.Cursor instance
    Executes a SQL statement.

In [9]:
# Inside the databse population.db, we creating a database table 
# called PopByRegion with two columns:

cur.execute('CREATE TABLE PopByRegion(Region TEXT, Population INTEGER)')

Calling method **execute** returns the **cursor object**. Since **cur** refers to that **same cursor object**, **we don’t need to do anything** with the value returned by execute.

#### 2. Inserting a record, p. 347

After creating a table, we want to insert data into it. 
We do this one record at a time using the INSERT command: 
  
**INSERT INTO «TableName» VALUES(«Value», ...)**

+ Notice that the number and type of values in the INSERT statements matches the number and type of columns in the database table.

In [10]:
# The values are matched left to right against the columns:
cur.execute('INSERT INTO PopByRegion VALUES("Central Africa", 330993)')
cur.execute('INSERT INTO PopByRegion VALUES("Southeastern Africa", 743112)')
cur.execute('INSERT INTO PopByRegion VALUES("Northern Africa", 1037463)')
cur.execute('INSERT INTO PopByRegion VALUES("Southern", 2051941)')
cur.execute('INSERT INTO PopByRegion VALUES("Asia Pacific", 785468)')
cur.execute('INSERT INTO PopByRegion VALUES("Middle East", 687630)')
cur.execute('INSERT INTO PopByRegion VALUES("Eastern Asia", 1362955)')
cur.execute('INSERT INTO PopByRegion VALUES("South America", 593121)')
cur.execute('INSERT INTO PopByRegion VALUES("Eastern Europe", 223427)')
cur.execute('INSERT INTO PopByRegion VALUES("North America", 661157)')
cur.execute('INSERT INTO PopByRegion VALUES("Western Europe", 387933)')

Notice that the number and type of values in the INSERT statements matches the number and type of columns in the database table. If we try to insert a value of a different **type** than the one **declared** for the column, the library will try to **convert** it, just as it converts the integer 5 to a floating-point number when we do 1.2 + 5. For example, **if we insert the integer 32 into a TEXT column, it will automatically be converted to "32"**; similarly, if we insert a string into an INTEGER column, it is parsed to see whether it represents a number. If so, the number is inserted.

If the **number of values** being inserted **doesn’t match** the number of columns in the table, the database **reports an error** and the data is not inserted. **Surprisingly, though, if we try to insert a value that cannot be converted to the correct type, such as the string “string” into an INTEGER field, SQLite  will actually do it (though other databases will not)**.

**Another format** for the INSERT SQL command **uses placeholders for the values to be inserted**. When using this format, **method execute** has **two arguments:** **the first** is the SQL command with **question marks as placeholders** for the values to be inserted, and **the second is a tuple**. When the command is executed, the items from the **tuple are substituted for the placeholders from left to right**. For example, the execute method call to insert a row with "Japan" and 100562  can be rewritten like this:

In [11]:
# Another format for the INSERT SQL command
cur.execute('INSERT INTO PopByRegion VALUES (?, ?)', ("Japan", 100562))

In this example, "Japan" is used in place of the first question mark, and 100562 in place of the second. This placeholder notation can come in **handy when using a loop to insert data from a list or a file into a database, as shown in the section Using Joins to Combine Tables, on page 353**.

#### 3. Saving Changes, p. 348

In [12]:
# Using commit method for committing to a database is like saving the changes 
# made to a file in a text editor.
# By committing a database, our changes are stored and are not visible to 
# anyone else who is using the database at the same time. 

con.commit()

#### 4. Closing the Connection, p. 348 
+ Make sure that you commit your changes before closing the connection.

In [13]:
# con.close()

### Retrieving Data, p. 348

The general form of a query is as follows:

**SELECT «ColumnName» , ... FROM «TableName»**

In [14]:
# This query retrieves all the data in the table PopByRegion:
cur.execute('SELECT Region, Population FROM PopByRegion')

In [15]:
# The cursor’s fetchone method let's access the results one record at a time
# and returns each record as a tuple:

# cur.fetchall()
cur.fetchone()

# The cur.fetchone method returns None, if there are no more records.

('Central Africa', 330993)

In [16]:
# The cur.fetchone method returns None, if there are no more records.
cur.fetchone()

('Southeastern Africa', 743112)

In [17]:
# The fetchall method returns all the data produced by a query that has not yet 
# been fetched as a list of tuples:
cur.fetchall()

[('Northern Africa', 1037463),
 ('Southern', 2051941),
 ('Asia Pacific', 785468),
 ('Middle East', 687630),
 ('Eastern Asia', 1362955),
 ('South America', 593121),
 ('Eastern Europe', 223427),
 ('North America', 661157),
 ('Western Europe', 387933),
 ('Japan', 100562)]

In [18]:
# Once all of the data produced by the query has been fetched, any subsequent 
# calls on fetchone and fetchall return None and the empty list, respectively:
cur.fetchone()

In [19]:
cur.fetchall()

[]

In [20]:
# We can use an ORDER BY clause to the query to sort the list returned 
# by fetchall method like this:

cur.execute('SELECT Region, Population FROM PopByRegion ORDER BY Region')
cur.fetchall()

[('Asia Pacific', 785468),
 ('Central Africa', 330993),
 ('Eastern Asia', 1362955),
 ('Eastern Europe', 223427),
 ('Japan', 100562),
 ('Middle East', 687630),
 ('North America', 661157),
 ('Northern Africa', 1037463),
 ('South America', 593121),
 ('Southeastern Africa', 743112),
 ('Southern', 2051941),
 ('Western Europe', 387933)]

In [21]:
# Sorting values in ascending (ASC) or descending (DESC) order:
# A triple-quoted string below is for a SQL statement to span multiple lines. 

cur.execute('''SELECT Region, Population FROM PopByRegion ORDER BY 
Population DESC''')   # ''' is for spaning multiple lines
cur.fetchall()

[('Southern', 2051941),
 ('Eastern Asia', 1362955),
 ('Northern Africa', 1037463),
 ('Asia Pacific', 785468),
 ('Southeastern Africa', 743112),
 ('Middle East', 687630),
 ('North America', 661157),
 ('South America', 593121),
 ('Western Europe', 387933),
 ('Central Africa', 330993),
 ('Eastern Europe', 223427),
 ('Japan', 100562)]

###### p. 350
+ As we’ve seen, we can specify one or more columns by name in a query. We can also use __*__ to indicate that we want **all columns**:

In [22]:
cur.execute('SELECT Region FROM PopByRegion')

In [23]:
cur.fetchall()

[('Central Africa',),
 ('Southeastern Africa',),
 ('Northern Africa',),
 ('Southern',),
 ('Asia Pacific',),
 ('Middle East',),
 ('Eastern Asia',),
 ('South America',),
 ('Eastern Europe',),
 ('North America',),
 ('Western Europe',),
 ('Japan',)]

In [24]:
cur.execute('SELECT * FROM PopByRegion')

In [25]:
cur.fetchall()

[('Central Africa', 330993),
 ('Southeastern Africa', 743112),
 ('Northern Africa', 1037463),
 ('Southern', 2051941),
 ('Asia Pacific', 785468),
 ('Middle East', 687630),
 ('Eastern Asia', 1362955),
 ('South America', 593121),
 ('Eastern Europe', 223427),
 ('North America', 661157),
 ('Western Europe', 387933),
 ('Japan', 100562)]

### Query Conditions, p. 350
+ We can use the keyword **WHERE** to select a **subset** of the data. For example, we can get the regions with populations greater than one million using the  greater-than operator:

In [26]:
cur.execute('SELECT Region FROM PopByRegion WHERE Population > 1000000')

In [27]:
cur.fetchall()

[('Northern Africa',), ('Southern',), ('Eastern Asia',)]

In [28]:
cur.execute('SELECT * FROM PopByRegion WHERE Population > 1000000')
cur.fetchall()

[('Northern Africa', 1037463),
 ('Southern', 2051941),
 ('Eastern Asia', 1362955)]

Table 32—SQL Relational Operators
These are the relational operators that may be used with WHERE:

Operators   Description
=           Equal to
!=          Not equal to
>           Greater than
<           Less than
>=          Greater than or equal to
<=          Less than or equal to

In [29]:
# we can use the the relational operators and logical operators, 
# AND, OR, and NOT together.
# A triple-quoted string below for a SQL statement can span multiple lines. 

# ''' is for spaning multiple lines
cur.execute('''SELECT Region FROM PopByRegion 
WHERE Population > 1000000 AND Region < "L"''')

In [30]:
cur.fetchall()

[('Eastern Asia',)]

### Updating and Deleting, p. 351
+ **UPDATE** command updates records.
+ **DELETE** command deletes records.

###### **UPDATE** command updates record

In [31]:
cur.execute('SELECT * FROM PopByRegion')

In [32]:
cur.fetchall()

[('Central Africa', 330993),
 ('Southeastern Africa', 743112),
 ('Northern Africa', 1037463),
 ('Southern', 2051941),
 ('Asia Pacific', 785468),
 ('Middle East', 687630),
 ('Eastern Asia', 1362955),
 ('South America', 593121),
 ('Eastern Europe', 223427),
 ('North America', 661157),
 ('Western Europe', 387933),
 ('Japan', 100562)]

In [33]:
cur.execute('SELECT * FROM PopByRegion WHERE Region = "Japan"')
cur.fetchone()

('Japan', 100562)

In [34]:
# UPDATE command updates records:
cur.execute('''UPDATE PopByRegion SET Population = 100600
WHERE Region = "Japan"''')
cur.execute('SELECT * FROM PopByRegion WHERE Region = "Japan"')
cur.fetchone()

('Japan', 100600)

###### **DELETE** command deletes records

In [35]:
cur.execute('SELECT * FROM PopByRegion')
cur.fetchall()

[('Central Africa', 330993),
 ('Southeastern Africa', 743112),
 ('Northern Africa', 1037463),
 ('Southern', 2051941),
 ('Asia Pacific', 785468),
 ('Middle East', 687630),
 ('Eastern Asia', 1362955),
 ('South America', 593121),
 ('Eastern Europe', 223427),
 ('North America', 661157),
 ('Western Europe', 387933),
 ('Japan', 100600)]

In [36]:
# DELETE command deletes records:
cur.execute('DELETE FROM PopByRegion WHERE Region < "L"')
cur.execute('SELECT * FROM PopByRegion')
cur.fetchall()

[('Southeastern Africa', 743112),
 ('Northern Africa', 1037463),
 ('Southern', 2051941),
 ('Middle East', 687630),
 ('South America', 593121),
 ('North America', 661157),
 ('Western Europe', 387933)]

###### Putting records back into the database

In [37]:
# We can always put records back into the database:

cur.execute('INSERT INTO PopByRegion VALUES ("Japan",  100600)')
cur.execute('INSERT INTO PopByRegion VALUES ("Central Africa",  330993)')
cur.execute('INSERT INTO PopByRegion VALUES ("Asia Pacific",  785468)')
cur.execute('INSERT INTO PopByRegion VALUES ("Eastern Asia",  1362955)')
cur.execute('INSERT INTO PopByRegion VALUES ("Eastern Europe",  223427)')

In [38]:
# cur.execute('DELETE FROM PopByRegion WHERE  Region >= "K"')

In [39]:
cur.execute('SELECT * FROM PopByRegion')

In [40]:
cur.fetchone()

('Southeastern Africa', 743112)

In [41]:
cur.fetchall()

[('Northern Africa', 1037463),
 ('Southern', 2051941),
 ('Middle East', 687630),
 ('South America', 593121),
 ('North America', 661157),
 ('Western Europe', 387933),
 ('Japan', 100600),
 ('Central Africa', 330993),
 ('Asia Pacific', 785468),
 ('Eastern Asia', 1362955),
 ('Eastern Europe', 223427)]

###### DROP command removes an entire table from the database:

+ **DROP TABLE TableName**

In [42]:
# Suppose we want to drop (remove) the table PopByRegion:

# cur.execute('DROP TABLE PopByRegion')

### Using NULL for Missing Data, p. 352

In [43]:
# Insert the value NULL to represent the missing values:

cur.execute('INSERT INTO PopByRegion VALUES ("Mars", NULL)')

In [44]:
cur.execute('SELECT * FROM PopByRegion')
cur.fetchall()

[('Southeastern Africa', 743112),
 ('Northern Africa', 1037463),
 ('Southern', 2051941),
 ('Middle East', 687630),
 ('South America', 593121),
 ('North America', 661157),
 ('Western Europe', 387933),
 ('Japan', 100600),
 ('Central Africa', 330993),
 ('Asia Pacific', 785468),
 ('Eastern Asia', 1362955),
 ('Eastern Europe', 223427),
 ('Mars', None)]

###### NOT NULL prevents NULL in a column while creating a table

In [45]:
# If we probably don’t want a record in the database that has a NULL region name
# . We can prevent this from ever happening, stating that the column is NOT NULL
# when the table is created:

cur.execute('CREATE TABLE Test (Region TEXT NOT NULL, '
            'Population INTEGER)')

In [46]:
# cur.fetchall() before inserting any records, we get nothing.
cur.execute('SELECT * FROM Test')
cur.fetchall()

[]

In [47]:
cur.execute('INSERT INTO Test VALUES ("TAIWAN", 456789)')

In [48]:
cur.execute('SELECT * FROM Test')
cur.fetchall()

[('TAIWAN', 456789)]

In [49]:
# cur.execute('DROP TABLE Test')

In [50]:
# Now when we try to insert a NULL region into our new Test table, 
# we get an error message:

cur.execute('INSERT INTO Test VALUES (NULL, 456789)')

IntegrityError: NOT NULL constraint failed: Test.Region

##### The three-valued logical operations: 
+ **TRUE**,
+ **FALSE**, or 
+ **NULL (unknown)**

    1. The technical term for this is three-valued logic. In SQL’s view of the logical operations, it's **three-valued logic: true, false, or NULL (unknown)**. 

    2. Unfortunately, different databases interpret ambiguities in the SQL standard in different ways, so their handling of NULL is not consistent. We should be careful when we use NULL.

# Pause (2021-04-30)

### Using Joins to Combine Tables, p. 353
+ **A database usually consists of several tables.** For example, **a database of patient records have 4 tables:**
    1. patient's personal information: name and birthday
    2. appointment: patient, doctor, and date
    3. doctors: name and hospital
    4. hospitals or clinics: hospital name and address

###### join, p. 354
+ Joining tables of a database

In [51]:
# Let’s add another table that contains the names of countries, 
# the regions that they are in, and their populations:

cur.execute('''CREATE TABLE PopByCountry(Region TEXT, Country TEXT,
Population INTEGER)''')

In [52]:
# Then let’s insert data into the new table:

cur.execute('''INSERT INTO PopByCountry VALUES("Eastern Asia", "China",
1285238)''')

### Inserting data by inserting a list of tuples with looping, p. 354
+ Inserting data one row at a time like this requires a lot of typing. It is simpler to **make a list of tuples to be inserted and write a loop that inserts the values from these tuples one by one using the placeholder notation.**

In [53]:
countries = [("Eastern Asia", "DPR Korea", 24056), 
             ("Eastern Asia", "Hong Kong (China)", 8764),  
             ("Eastern Asia", "Mongolia", 3407),  
             ("Eastern Asia", "Republic of Korea", 41491),  
             ("Eastern Asia", "Taiwan", 1433), 
             ("North America", "Bahamas", 368), 
             ("North America", "Canada", 40876), 
             ("North America", "Greenland", 43),  
             ("North America", "Mexico", 126875), 
             ("North America", "United  States", 493038)]

for c in countries:
    cur.execute('INSERT INTO PopByCountry VALUES (?, ?, ?)', (c[0], c[1], c[2]))

con.commit()  # save

In [54]:
cur.execute('SELECT * FROM PopByCountry')

In [55]:
cur.fetchall()

[('Eastern Asia', 'China', 1285238),
 ('Eastern Asia', 'DPR Korea', 24056),
 ('Eastern Asia', 'Hong Kong (China)', 8764),
 ('Eastern Asia', 'Mongolia', 3407),
 ('Eastern Asia', 'Republic of Korea', 41491),
 ('Eastern Asia', 'Taiwan', 1433),
 ('North America', 'Bahamas', 368),
 ('North America', 'Canada', 40876),
 ('North America', 'Greenland', 43),
 ('North America', 'Mexico', 126875),
 ('North America', 'United  States', 493038)]

In [55]:
# cur.execute('DROP TABLE PopByCountry')

### inner joins & self-joins, p. 355

+ Now that we have two tables in our database, we can use **joins** to combine the information they contain. Several types of joins exist; you’ll learn about **inner joins** and **self-joins**.
+ Procedure of **Inner join:**
    1. Constructing the cross product of the tables
    2. Discarding rows that do not meet the selection criteria: use **WHERE clause**
    3. Selecting columns from the remaining rows

###### Three steps:
1. Combine every row of PopByRegion with every row of PopByCountry. PopByRegion has 2 columns and 12 rows, while PopByCountry has 3 columns and 11 rows, so this produces a temporary table with 5 columns and 132 rows.
2. The join’s **WHERE** clause **discards rows** that do not meet the 2 selection criteria. 
3. Finally, select the region and country names from the rows that have survived.

In [56]:
cur.execute('SELECT * FROM PopByCountry ORDER BY Region')

In [57]:
cur.fetchall()

[('Eastern Asia', 'China', 1285238),
 ('Eastern Asia', 'DPR Korea', 24056),
 ('Eastern Asia', 'Hong Kong (China)', 8764),
 ('Eastern Asia', 'Mongolia', 3407),
 ('Eastern Asia', 'Republic of Korea', 41491),
 ('Eastern Asia', 'Taiwan', 1433),
 ('North America', 'Bahamas', 368),
 ('North America', 'Canada', 40876),
 ('North America', 'Greenland', 43),
 ('North America', 'Mexico', 126875),
 ('North America', 'United  States', 493038)]

In [58]:
cur.execute('SELECT * FROM PopByRegion ORDER BY Region')

In [59]:
x = cur.fetchall()
x

[('Asia Pacific', 785468),
 ('Central Africa', 330993),
 ('Eastern Asia', 1362955),
 ('Eastern Europe', 223427),
 ('Japan', 100600),
 ('Mars', None),
 ('Middle East', 687630),
 ('North America', 661157),
 ('Northern Africa', 1037463),
 ('South America', 593121),
 ('Southeastern Africa', 743112),
 ('Southern', 2051941),
 ('Western Europe', 387933)]

In [65]:
# query: 
# In an earlier query, we retrieved the names of regions with projected 
# populations greater than one million. Using an inner join, we can get 
# the names of the countries that are in those regions.

cur.execute('''
SELECT PopByRegion.Region, PopByCountry.Country 
FROM PopByRegion INNER JOIN PopByCountry
WHERE (PopByRegion.Region = PopByCountry.Region) 
AND (PopByRegion.Population > 1000000)
''')

In [66]:
 cur.fetchall()

[('Eastern Asia', 'China'),
 ('Eastern Asia', 'DPR Korea'),
 ('Eastern Asia', 'Hong Kong (China)'),
 ('Eastern Asia', 'Mongolia'),
 ('Eastern Asia', 'Republic of Korea'),
 ('Eastern Asia', 'Taiwan')]

### Removing Duplicates, p. 357

In [67]:
# To find the regions where one country accounts for more than 10 percent of 
# the region’s overall population, we would also need to join the two tables.

cur.execute('''
SELECT PopByRegion.Region
FROM PopByRegion INNER JOIN PopByCountry
WHERE (PopByRegion.Region = PopByCountry.Region)
AND ((PopByCountry.Population * 1.0) / PopByRegion.Population > 0.10)
''')

cur.fetchall()  # 'North America' appears twice.

[('North America',), ('North America',), ('Eastern Asia',)]

In [68]:
# We use multiplication and division in our WHERE condition to calculate the 
# percentage of the region’s population by country as a floating-point number. 
# The resulting list contains duplicates, since more than one North American 
# country accounts for more than 10 percent of the region’s population. 
# To remove the duplicates, we add the keyword DISTINCT to the query:

# SELECT DISTINCT ... to remove the duplicates.
cur.execute('''
SELECT DISTINCT PopByRegion.Region
FROM PopByRegion INNER JOIN PopByCountry
WHERE (PopByRegion.Region = PopByCountry.Region)
AND ((PopByCountry.Population * 1.0) / PopByRegion.Population > 0.10)
''')
cur.fetchall()
# Now in the results, 'North America' appears only once.

[('North America',), ('Eastern Asia',)]

### Keys and Constraints, p. 357
+ Joining tables should use keys. 
+ A key’s values should be unique.
+ We can tell the database to enforce this constraint by adding a **PRIMARY KEY clause when we create the table**.
+ For example, **when we created the PopByRegion table, we should have specified the primary key**:

**SQL PRIMARY KEY Constraint**

The PRIMARY KEY constraint **uniquely identifies each record in a table**.

Primary keys **must contain UNIQUE values, and cannot contain NULL values.**

**A table can have only ONE primary key**; and in the table, **this primary key can consist of single or multiple columns (fields).**

cur.execute('''CREATE TABLE PopByRegion (
                Region TEXT NOT NULL,
                Population INTEGER NOT NULL, 
                PRIMARY KEY (Region))''')

Just as a key in a dictionary can be made up of multiple values, the primary key for a database table can consist of multiple columns.

###### CONSTRAINT keyword, p. 358

# The following code uses the CONSTRAINT keyword to specify that no two entries 
# in the table being created will ever have the same values for region and 
# country:

cur.execute('''
CREATE TABLE PopByCountry(
Region TEXT NOT NULL,
Country TEXT NOT NULL, 
Population INTEGER NOT NULL,
CONSTRAINT CountryKey PRIMARY KEY (Region, Country))''')

###### [SQL PRIMARY KEY Constraint](https://www.w3schools.com/sql//sql_primarykey.asp)

The **ADD CONSTRAINT command** is used to **create a constraint after a table is already created.**

**The following SQL adds a constraint named "PK_Person" that is a PRIMARY KEY constraint on multiple columns (ID and LastName):**

Note: In the **example below** there is **only ONE PRIMARY KEY (PK_Person)**. **However, the VALUE of the primary key is made up of TWO COLUMNS (ID + LastName).**

cur.execute('''ALTER TABLE Persons
ADD CONSTRAINT PK_Person PRIMARY KEY (ID, LastName)''')

###### Note: Taking unique integer ID as primary keys
1. We usually don’t use real names as primary keys.
2. Instead, we create a unique integer ID for each “thing” in the database, such as a driver’s license number or a patient ID. This is partly done for efficiency’s sake—integers are faster to sort and compare than strings—but the real reason is that it is a simple way to deal with things that have the same name.

### Advanced Features, p. 358

#### 1. Aggregation, p. 358
+ using the SQL aggregate function **SUM**

In [4]:
# using the SQL aggregate function SUM:
cur.execute('SELECT SUM (Population) FROM PopByRegion')
cur.fetchone()

(8965800,)

Table 33—SQL Aggregate Functions

Aggregate    Description
Function
AVG          Average of the values 
MIN          Minimum value 
MAX          Maximum value
COUNT        Number of nonnull values
SUM          Sum of the values

#### 2. Grouping, p. 359

In [5]:
# We use SQL’s GROUP BY to collect results into subsets:

cur.execute('''SELECT Region, SUM (Population) FROM PopByCountry
               GROUP BY Region''')
cur.fetchall()

[('Eastern Asia', 1364389), ('North America', 661200)]

Since we construct **groups by Region** which has two distinct values, the database divides the records into two subsets. We then apply the **SUM** function to **each group** separately:

In [6]:

cur.execute('''SELECT SUM (Population) FROM PopByCountry
               WHERE Region = "North America"''')
cur.fetchall()

[(661200,)]

In [7]:
cur.execute('''SELECT SUM (Population) FROM PopByCountry
               WHERE Region = "Eastern Asia"''')
cur.fetchall()

[(1364389,)]

#### 3. Self-Joins, p. 359
+ Let’s consider the problem of comparing a table’s values to themselves. Suppose that we want to find pairs of countries whose populations are close to each other—say, within 1,000 of each other.
+ What we actually want to do is compare the population in one row with the populations in each of the other rows.

###### 3-1. Incorrect Result
+ The code snippet below gets **incorrect result**.
+ The output is definitely not what we want, for two reasons. 
    1. First, the phrase **SELECT Country** is going to **return only one country per record, but we want pairs of countries.** 
    2. Second, the expression ABS(Population - Population) is always going to return zero because we are **subtracting each country’s population from itself.** 
    
    Since every difference will be less than 1,000, the names of all the countries in the table will be returned by the query.

In [8]:
# Incorrect Result
cur.execute('''SELECT  Country  FROM  PopByCountry
WHERE (ABS(Population - Population) < 1000)''')
cur.fetchall()

[('China',),
 ('DPR Korea',),
 ('Hong Kong (China)',),
 ('Mongolia',),
 ('Republic of Korea',),
 ('Taiwan',),
 ('Bahamas',),
 ('Canada',),
 ('Greenland',),
 ('Mexico',),
 ('United  States',)]

###### 3-2. Correct Result
+ What we actually want to do is compare the population in one row with the populations in each of the other rows.
+ This will result in the rows as **the table shown on p. 360**. To tell them apart, we have to **give the two instances of the PopByCountry table temporary names (in this case, A and B)**:

In [9]:
cur.execute('''
SELECT A.Country, B.Country
FROM PopByCountry A INNER JOIN PopByCountry B 
WHERE (ABS(A.Population  - B.Population)  <=  1000) 
AND (A.Country != B.Country)''')
cur.fetchall()

[('Republic of Korea', 'Canada'),
 ('Bahamas', 'Greenland'),
 ('Canada', 'Republic of Korea'),
 ('Greenland', 'Bahamas')]

In [10]:
# If we want each pair of countries to appear only once (in any order), 
# rewrite the second half of the condition as follows:

cur.execute('''
SELECT A.Country, B.Country
FROM PopByCountry A INNER JOIN PopByCountry B 
WHERE (ABS(A.Population  - B.Population)  <=  1000) 
AND (A.Country < B.Country)''')
cur.fetchall()
# By changing the condition above, each pair of countries appears only once.

[('Bahamas', 'Greenland'), ('Canada', 'Republic of Korea')]

#### 4. Nested Queries, p. 361
+ Nested queries: run a SELECT on the result of another SELECT
+ For example, let’s write a query on the PopByCountry table to get the regions that do not have a country with a population of 8,764,000.

In [5]:
cur.execute('SELECT * FROM PopByCountry')
cur.fetchall()

[('Eastern Asia', 'China', 1285238),
 ('Eastern Asia', 'DPR Korea', 24056),
 ('Eastern Asia', 'Hong Kong (China)', 8764),
 ('Eastern Asia', 'Mongolia', 3407),
 ('Eastern Asia', 'Republic of Korea', 41491),
 ('Eastern Asia', 'Taiwan', 1433),
 ('North America', 'Bahamas', 368),
 ('North America', 'Canada', 40876),
 ('North America', 'Greenland', 43),
 ('North America', 'Mexico', 126875),
 ('North America', 'United  States', 493038)]

In [28]:
# Incorrect result. 

# Because other countries in eastern Asia have populations that are not 
# 8,764,000, though, Eastern Asia and North America were included in the 
# final results.

cur.execute('''SELECT DISTINCT Region
            FROM PopByCountry
            WHERE (PopByCountry.Population != 8764)''')
cur.fetchall()

[('Eastern Asia',), ('North America',)]

In [6]:
# Correct result.

# What we have to do is find out which regions include countries with a 
# population of 8,764,000 and then exclude those regions from our 
# final result—basically, find the regions that fail our condition and subtract 
# them from the set of all countries

# Step 1: The first step is to get those regions that have countries with a 
#       population of 8,764,000, as shown in the following code:

cur.execute('''
SELECT DISTINCT Region
FROM PopByCountry
WHERE (PopByCountry.Population = 8764) ''')

cur.fetchall()

[('Eastern Asia',)]

In [30]:
# Step 2: Negate step 1
# Now we want to get the names of regions that were not in the results 
#     of our first query. To do this, we will use a WHERE condition and NOT IN:

cur.execute('''
SELECT DISTINCT Region
FROM PopByCountry WHERE Region NOT IN
(SELECT DISTINCT Region
FROM PopByCountry
WHERE (PopByCountry.Population = 8764))
''')

cur.fetchall()

# Nested queries are often used for situations like this one, 
#　where negation is involved.

[('North America',)]

#### 5. Transactions, p. 362

Imagine a library that may have multiple copies of the same book. It uses a computerized system to track its books by their ISBN numbers. Whenever a patron signs out a book, a query is executed on the Books table to find out how many copies of that book are currently signed out, and then the table is updated to indicate that one more copy has been signed out:

cur.execute('SELECT SignedOut FROM Books WHERE ISBN = ?', isbn) 
signedOut = cur.fetchone()[0]

cur.execute('''UPDATE Books SET SignedOut = ?
WHERE ISBN = ?''', signedOut + 1, isbn)
cur.commit()

When a patron returns a book, the reverse happens:

cur.execute('SELECT SignedOut FROM Books WHERE ISBN = ?', isbn) 
signedOut = cur.fetchone()[0]

cur.execute('''UPDATE Books SET SignedOut = ?
WHERE ISBN = ?''', signedOut - 1, isbn)
cur.commit()

What if the library had two computers that handled book signouts and returns? Both computers connect to the same database. What happens if one patron tried to return a copy of Gray’s Anatomy while another was signing out a different copy of the same book at the exact same time?

One possibility is that Computers A and B would each **execute queries** to determine **how many copies of the book have been signed out**, then Computer A would add one to the number of copies signed out and update the table without Computer B knowing. Computer B would decrease the number of copies (based on the query result) and update the table.

Here’s the code for that scenario:

Computer A: cur.execute('SELECT SignedOut FROM Books WHERE ISBN = ?', isbn) Computer A: signedOut = cur.fetchone()[0]
Computer B: cur.execute('SELECT SignedOut FROM Books WHERE ISBN = ?', isbn) Computer B: signedOut = cur.fetchone()[0]
Computer  A:  cur.execute('''UPDATE  Books  SET  SignedOut  =  ?
WHERE ISBN = ?''', signedOut + 1, isbn)
Computer A: cur.commit()
Computer  B:  cur.execute('''UPDATE  Books  SET  SignedOut  =  ?
WHERE ISBN = ?''', signedOut - 1, isbn)
Computer B: cur.commit()

Notice that Computer B counts the number of signed-out copies before Computer A updates the database. After Computer A commits its changes, the value that Computer B fetched is no longer accurate. If Computer B were allowed to commit its changes, the library database would account for more books than the library actually has!

Fortunately, databases can detect such a situation and would prevent Computer B from committing its transaction.

# The End!